## Question -1

In [1]:
a = "VINAY"
b = [1,2,3,4,5]
c = 98.12
d = (76,45,32,98,11,53)

## Question -2

In [2]:
var1 = ""
print(type(var1))

<class 'str'>

In [4]:
var2 = "[ DS , ML , Python]"
print(type(var2))

<class 'str'>

In [6]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [7]:
var4 = 1
print(type(var4))

<class 'int'>

## Question-3

In [10]:
x = 20
y = 4
print(x/y)
print(x//y)
print(x**y)

5.0
5
160000

## Question -4

In [11]:
list1 = [1,89,45.76,98.66,"Vinay","Sanu",23.78,(7+7j),122.67,"Bhoj"]
for i in list1:
    print(i)
    print(type(i))

1
<class 'int'>
89
<class 'int'>
45.76
<class 'float'>
98.66
<class 'float'>
Vinay
<class 'str'>
Sanu
<class 'str'>
23.78
<class 'float'>
(7+7j)
<class 'complex'>
122.67
<class 'float'>
Bhoj
<class 'str'>

## Question -5

In [23]:
x = int(input("Enter a number: "))
num1 = x
y = int(input("Enter second number: "))
count = 0
while x % y == 0:
    x = x//y
    count+=1
    
print(f"It will divide {num1} by {y}, {count} times")

Enter a number:  256
Enter second number:  2

It will divide 256 by 2, 8 times

## Question -6

In [25]:
l1 = list(range(25))
for i in l1:
    if i%3 == 0:
        print("It is divisible by 3")
    else:
        print("It is not divisible by 3")

It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3
It is not divisible by 3
It is not divisible by 3
It is divisible by 3

## Question -7

### Mutable data structures are those which we can modify like assign a value ,change value.
### Immutable data structures are those which we can not modify.

In [31]:
## Mutable examples
li1 = [1,2,3,4,5]
li1[2] = 98
print(li1)
li2 = [9,8,7]
print(li1+li2)
li1.remove(1)
print(li1)

[1, 2, 98, 4, 5]
[1, 2, 98, 4, 5, 9, 8, 7]
[2, 98, 4, 5]

In [32]:
## Immutable examples
set1 = {1,2,3,4,5}
set1[2] = 100
print(set1)

TypeError: 'set' object does not support item assignment